@import '../common/common'
@import '../container/container'
@import '../info-block/info-block'
@import '../card-list/card-list'
@import '../product-list/product-list'

h3
  font-size: 24px
  font-weight: 700
  line-height: 32px

p
  font-size: 13px
  font-weight: 500
  line-height: 28px

.showroom-container
  padding-top: 30px