@import '../info-block/info-block'
@import '../card-list/card-list'
@import '../product-list/product-list'
@import '../contacts-map/contacts-map'

h3
  font-size: 24px
  font-weight: 700
  line-height: 32px

p
  font-size: 13px
  font-weight: 500
  line-height: 28px

.showroom-container
  color: #333333
  padding: 30px 0 40px

.info-block-container
  padding: 0
  margin: 0
  max-width: none

.product-list-container
  padding: 40px 0
  background-color: #F8F8F8

.contacts-container
  padding: 0
  margin: 0
  max-width: none

  .contacts__title
    padding: 0 24px
    margin: 0 auto 17px auto

@media screen and (min-width: 768px)
  .showroom-container
    padding: 30px 0 80px

  .info-block-container
    max-width: 768px
    padding-left: 32px
    padding-right: 32px
    margin-right: auto
    margin-left: auto

  .product-list-container
    padding: 60px 0

  .contacts-container
    max-width: 768px
    padding-left: 32px
    padding-right: 32px
    margin-right: auto
    margin-left: auto

    .contacts__title
      text-align: left
      padding: 0
      margin: 0

@media screen and (min-width: 1280px)
  p
    font-size: 15px
    font-weight: 600
    line-height: 26px

  .info-block-container, .card-list, .slider,
  .contacts-container, .product-list
    max-width: 1064px
    padding: 0
    margin-right: auto
    margin-left: auto