.card-list
  margin: 40px 0

.card-list__title
  font-size: 24px
  font-weight: 700
  line-height: 32px
  color: #333
  margin-bottom: 23px
  em
    font-style: normal
    color: #0865A7
    margin-bottom: 23px

.card-list-item
  display: flex
  flex-direction: column
  background-color: #0977C4
  color: #fff
  min-height: 479px
  padding: 25px 15px 20px 20px
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0

.card-list-item-content
  margin-bottom: 40px

.card-list-item-icon
  display: flex
  height: 56px
  padding: 10px
  margin-bottom: 10px
  svg
    height: 100%
    width: auto

.card-list-item__title
  font-size: 15px
  font-weight: 700
  line-height: 28px
  text-transform: uppercase

.card-list-item__text
  font-size: 13px
  font-weight: 500
  line-height: 24px
  margin-top: 20px

.card-list-item__button
  border: none
  background-color: #fff
  border-radius: 50%
  width: 40px
  height: 40px
  margin-top: auto