.info-block-image-wrap
  display: flex
  justify-content: center
  width: auto
  height: 328px
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0

.info-block-image__img
  object-fit: cover
  width: auto
  height: auto
  max-width: 100%
  max-height: 100%

.info-block-image-wrap_tablet-show
  display: none

.info-block-text
  background-color: #0977C4

.info-block-text-wrap
  max-width: 410px
  color: #fff
  padding: 30px 24px
  margin-left: auto
  margin-right: auto
  p
    margin: 20px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

@media screen and (min-width: 768px)
  .info-block
    display: grid
    gap: 11px
    grid-template-columns: minmax(0, auto) minmax(0, 1fr)
    border-bottom: 1px solid #EEEEEE
    padding-bottom: 30px

  .info-block-image
    max-width: 292px

  .info-block-image-wrap
    height: 308px
    margin-bottom: 10px

  .info-block-image__img
    height: 100%

  .info-block-image-wrap_tablet-show
    display: block

  .info-block-text
    margin: 0

  .info-block-text-wrap
    max-width: none
    margin-right: 0
    margin-left: 0

@media screen and (min-width: 1280px)
  .info-block
    gap: 12px

  .info-block-image
    max-width: 419px

  .info-block-image-wrap
    height: 443px

  .info-block-image-wrap_tablet-show
    display: none

  .info-block-text-wrap
    padding: 30px 30px 30px 28px
    p
      &:first-child
        margin-top: 18px